.footer {
    position: fixed;
    width: 100%;
    background-color: transparent;
    color: white;
    z-index: 1;
    bottom: 0;
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 1em;
    }
    .footer-buttons {
      display: flex;
      gap: 8px;
      padding: 0 2em;
    }
    .footer-background {
      content: "";
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.01);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(0px);
      backdrop-filter: blur(0px);
    }
  }