body {
  background: rgb(45, 212, 87);
  background-image: url('/bg.jpg');

  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
}
/* 
:root {
  --chakra-colors-gray-800: rgba(18, 22, 22);
} */
